
h1 {
    text-align: center;
    background-color: #333333;
    color: #eee;
    font-size: 28px;
    margin: 0px;
    padding: 20px;

}

h2 {
    font-size: 24px;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #efeee7;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    
}

#main_bio {
    float: left;
    width: 70%;
}

#contact_info {
    float: left;
    width: 30%;
}

#bio_image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.container {
    width: 1024px;
    margin: 0px auto;
}