h1 {
    margin-left: 417px;
    float: left;
}

.para { 
    clear: both;
    width: 500px;
    font-size: large;
    text-align: left;
    margin: auto;
}

.fixed {
    background-color: #eee;
    height: 150px;
    width: 200px;
    position: fixed;
    text-align: center;
    font-size: x-large;
}

.relative {
    background-color: #eee;
    height: 200px;
    width: 500px;
    text-align: center;
    font-size: x-large;
    left: 417px;
    position: relative;
    


}

#absolute {
    background-color: #999;
    height: 80px;
    width: 180px;
    text-align: center;
    font-size: x-large;
    position: absolute;
    margin-top: 93px;
    margin-left: 370px;


}