.fixed {

    width: 100px;
    height: 100px;
    background-color: aqua;
    position: fixed;
}

.container {
  position: relative;
  left: 25%;
  width: 40%;

}

.relative {
    background-color: blue;
    height: 200px;
    position: relative;

}

#absolute {
    background-color: blueviolet;
    height: 100px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    
}
