
* {
  box-sizing: border-box;
  text-align: center;
}

body {
    line-height: 32px;
    font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
    background-color: #FFA500;
    width: 33.33%;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

#left {
    background-color: blue;
    float: left;
}

#middle {
    background-color: blueviolet;
    float: left;
}

#right {
    background-color: brown;
    float: right;
}

#full {
    background-color: crimson;
    overflow: auto;
    clear: both;
    width: 100%;
}

#division {
    background-color: cyan;
    padding: 20px;
    margin-top: 20px;
}

aside {
    background-color: darkgreen;
    float: left;
    margin-left: 30px;
    width: 33%;
    height: 200px;
    border: white;
    border-style: solid;
    border-width: 1px;
    padding: 20px;

}

footer {
    background-color: darkslategray;
    height: 60px;
    padding: 20px;
    margin-top: 20px;
    height: 70px;
}
